.mainbody {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    height: 768px;
}

/*
.mainbody div {
    border: 1px solid black;
}
*/

.header {
    height: 8%;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#filter {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 16px;
}

#filter .iconify {
    font-size: 1.2em;
    margin-left: 20px;
}

.profile {
    background-color: #C4C4C4;
    height: 10%;
    border-radius: 20px;
    margin: 0 16px 15px 16px;
    display: flex;
    cursor: pointer;
}

.picture {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 15px;
}

.country {
    flex-basis: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile img {
    width: 60px;
    border-radius: 50%;
}

.profile .iconify {
    font-size: 40px;
    cursor: auto;
}

.profile h5 {
    color: black;
    font-weight: bold;
}

.profile h6 {
    color: dimgray;
}

@media (min-width: 900px) {
    .header {
        height: 11%;
        justify-content: center;
    }

    .mainbody {
        margin-top: 83px;
        align-items: center;
    }

    #filter {
        width: 60%;
        margin-right: 0;
        justify-content: flex-end;
    }

    #filter .iconify {
        margin-left: 35px;
    }

    .profile {
        height: 13%;
        width: 60%;
    }

    .picture {
        flex-basis: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    
    .content {
        flex-basis: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0 15px;
    }
    
    .country {
        flex-basis: 15%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile img {
        width: 75px;
    }
    
    .profile .iconify {
        font-size: 50px;
    }
}