.mainbody {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}

/*
.mainbody div {
    border: 1px solid black;
}
*/

.category {
    text-align: center;
    margin: 10px 16px 24px 16px;
    cursor: pointer;
    display: flex;
}

.categoryName {
    flex-basis: 10%;
    flex-grow: 0;
    margin: 0 10px;
    width: 100%;
}

.divider {
    flex-basis: 45%;
    flex-grow: 0;
}

hr.solid {
    background-color: #EAF2EF;
    display: inline-block;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    background-color: #2D2548;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 0 0 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile {
    height: 360px;
    display: inline-block;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.editProfile {
    flex-basis: 50%;
    text-align: right;
    padding-right: 12px;
    padding-top: 12px;
}

.reportProfile {
    flex-basis: 50%;
    text-align: left;
    padding-left: 12px;
    padding-top: 12px;
}

.info {
    text-align: center;
    position: relative;
    top: -25px;
    pointer-events: none;
}

.info img {
    width: 130px;
    border-radius: 50%;
}

.info h4 {
    margin-top: 10px;
}

.bio {
    text-align: center;
    overflow: hidden;
}

.bio .iconify {
    display: inline-block;
    color: #392F5A;
    font-size: 20px;
}

.left {
    position: relative;
    right: -35px;
    top: -28px;
    cursor: auto;
}

.right {
    position: relative;
    left: -35px;
    bottom: -40px;
    cursor: auto;
}

.bio textarea {
    background-color: #261F3D;
    color: #EAF2EF;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    font-size: 16px;
    border-radius: 10px;
    border-color: #261F3D;
    overflow: hidden;
    width: 300px;
    height: 90px;
}

.line h4 {
    margin-top: 8px;
    margin-bottom: -10px;
}

.line hr.solid {
    background-color: #392F5A;
    height: 1px;
    border: none;
    width: 100%;
}

.one {
    height: 110px;
    display: inline-block;
    text-align: center;
}

.one .iconify {
    font-size: 2.6em;
}

.socmeds {
    display: flex;
    justify-content: space-around;
    padding: 0 5px;
    margin-top: 10px;
}

.two {
    height: 215px;
    display: inline-block;
    text-align: center;
}

.two .images {
    display: flex;
    justify-content: center;
    height: 150px;
    padding-top: 8px;
}

.two img {
    flex-basis: 30%;
    background-color: #261F3D;
    border-radius: 6px;
    margin: 0 4px;
    width: 110px;
    object-fit: cover;
}

.hide {
    display: none;
}

.three {
    height: 294px;
    display: inline-block;
    text-align: center;
}

.three .posts {
    display: flex;
    justify-content: space-around;
    height: 230px;
    padding: 8px 5px 0 5px;
}

.post-1 {
    flex-basis: 95%;
    background-color: #261F3D;
    border-radius: 6px;
}

.four {
    height: 132px;
    display: inline-block;
    text-align: center;
}

.five {
    height: 215px;
    display: inline-block;
    text-align: center;
}

.six {
    height: 360px;
    display: inline-block;
    text-align: center;
}

.live {
    height: 182px;
    text-align: center;
    background-color: #392F5A;
    border-radius: 20px;
    margin: 0 0 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seven, .eight {
    flex-basis: 48%;
    margin-bottom: 0;
}

.nine {
    height: 150px;
    display: inline-block;
    text-align: center;
}

.category-1, .category-2, .category-3,
 .category-4 {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.category-4 {
    color: #C3C8CB;
}

@media (min-width: 900px) {
    .mainbody {
        margin-top: 90px;
        align-items: center;
    }

    .category {
        width: 55%;
    }

    .category-1, .category-2, .category-3,
    .category-4 {
        width: 55%;
    }
    
    .profile {
        height: 370px;
        display: inline-block;
    }

    .editProfile {
        padding-right: 20px;
        padding-top: 12px;
    }
    
    .reportProfile {
        padding-left: 20px;
        padding-top: 12px;
    }

    .bio textarea {
        width: 440px;
        height: 90px;
    }

    .one {
        height: 122px;
    }
    
    .socmeds {
        padding: 0 15px;
    }

    .two {
        flex-basis: 49%;
        height: 452px;
    }
    
    .two .images {
        height: 179px;
        flex-wrap: wrap;
    }
    
    .two img {
        height: 179px;
        width: 142px;
        margin: 6px;
    }

    .hide {
        display: inline;
    }
    
    .three {
        flex-basis: 49%;
        height: 452px;
    }
    
    .three .posts {
        height: 381px;
    }
    
    .post-1 {
        flex-basis: 95%;
        min-width: 279px;
    }

    .category-2 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}